@using Microsoft.EntityFrameworkCore
@using System.Data

@inject AppDbContext dbContext

@{
  ViewData["Title"] = "Database info";
  var connect = dbContext.Database.GetDbConnection();
  var dbname = connect.Database;
  var can_connect = dbContext.Database.CanConnect();
}

<partial name="_AlertMessage" />

<h2>Database info:</h2>
<p>- Database: @dbname</p>
<p>- Source: @connect.DataSource</p>
<p>- State: @connect.State</p>

<hr>

<h2>Migrations:</h2>
@foreach (var migration in dbContext.Database.GetAppliedMigrations())
{
  <p>@migration</p>
}
@foreach (var migration in dbContext.Database.GetPendingMigrations())
{
  <p>@migration (pending)</p>
}

@if (dbContext.Database.GetPendingMigrations().Any()) 
{
  <form method="post">
    <button type="submit" class="btn btn-primary" asp-action="Migrate">Create Db (Update migration)</button>
  </form>
}

<hr>

@if (!can_connect)
{
  <p class="alert alert-danger">Can not connect to Database</p>
}
@if (can_connect)
{
  <h2>Tables in Database:</h2>
  await dbContext.Database.OpenConnectionAsync();
  var table = dbContext.Database.GetDbConnection().GetSchema("Tables");
  <ul>
    @foreach (System.Data.DataRow row in table.Rows)
    {
      <li>@row["TABLE_NAME"]</li>
    }
  </ul>

  <a class="btn btn-danger" asp-action="DeleteDb">Delete Database: @dbname</a>
  <a class="btn btn-primary" asp-action="SeedData">Seed Database</a>
}